@font-face {
    font-family: 'UbuntuLight';
    src:
    local("Ubuntu"), url('../Fonts/UbuntuLight.woff2') format('woff2');
    font-weight: 300;
    font-size: normal;
    font-display: swap;
         
}
@font-face {
    font-family: 'UbuntuRegular';
    src:
    local("Ubuntu"), url('../Fonts/UbuntuRegular.woff2') format('woff2');
    font-weight: 400;
    font-size: normal;
    font-display: swap;
         
}
@font-face {
    font-family: 'UbuntuMedium';
    src:
    local("Ubuntu"), url('../Fonts/UbuntuMedium.woff2') format('woff2');
    font-weight: 500;
    font-size: normal;
    font-display: swap;
         
}
@font-face {
    font-family: 'Oswald';
    src:
    local("Oswald"), url('../Fonts/UbuntuMedium.woff2') format('woff2');
    font-weight: 500;
    font-size: normal;
    font-display: swap;
         
}
@font-face {
    font-family: 'Oswald';
    src:
    local("Oswald"), url('../Fonts/OswaldSemiBold.woff2') format('woff2');
    font-weight: 600;
    font-size: normal;
    font-display: swap;
         
}